
* {
  padding:              0;
  margin:               0;
}

html {
  background:           white;
  overflow-y:           scroll;
}

body {
  font:                 14pt Helvetica;
  margin:               0px 10% 0px;
  height:               100%;
  padding:              1em;
}

.heading {
  font-size:            1.8em;
  padding:              0.6em;
  cursor:               pointer;
}

.subtext {
  padding:              0em 1em 1em;
}

.subtext div {
  padding:              0.4em;
  line-height:          1.5;
  overflow:             hidden;
}

.detail_description {
  display:              inline-block;
  width:                6em;
}

.cv_basic {
	position:             relative;
	/*display:              inline-block;
	width:                100%;*/
	-webkit-transform:    rotateX(0deg);
	transform:            rotateX(0deg);
	/*border-style:         solid;
	border-color:         black;
	border-width:         1px;*/
	-webkit-backface-visibility:       hidden;
	backface-visibility:               hidden;
	background-color:     rgba(255,255,255,1.0);
	transition:           box-shadow 0.4s;
}

.cv_full {
	position:             relative;
	/*display:              inline-block;
	width:                100%;*/
	-webkit-transform:    rotateX(90deg) translateZ(0px) translateY(0px) rotateY(180deg) rotateZ(180deg);
	transform:            rotateX(90deg) translateZ(0px) translateY(0px) rotateY(180deg) rotateZ(180deg);
	/*border-style:         solid;
	border-color:         black;
	border-width:         1px;*/
	-webkit-backface-visibility:       hidden;
	backface-visibility:               hidden;
	background-color:     rgba(255,255,255,1.0);
	transition:           box-shadow 0.4s;
}

.full_width_container {
	position:             relative;
	/*display:              inline-block;*/
	width:                100%;
	height:               1000px;
	margin-bottom:        1em;
  -webkit-transition:   height 0.5s ease 0s;
  transition:           height 0.5s ease 0s;
}

@-moz-document url-prefix() {
	.full_width_container {
		overflow:             hidden;
	}
}

.cv_item_area {
	width:                100%;
	-webkit-perspective:  2000px;
	perspective:          2000px;
}

.button_area {
	perspective:                  250px;
	-webkit-perspective:          250px;
	float:                        right;
	width:                        4em;
}

.cv_item {
  position:                          relative;
  height:                            0px;
  -webkit-transform-style:           preserve-3d;
  transform-style:                   preserve-3d;
  -webkit-backface-visibility:       hidden;
	backface-visibility:               hidden;
	-webkit-transform:                 translate3d(0px, 0px, 0px);
	transform:                         translate3d(0px, 0px, 0px);
}

.cv_item.basic_showing {
	-webkit-transform:    rotateX(0deg);
	transform:            rotateX(0deg);
	-webkit-transition:   -webkit-transform 0.5s ease 0s;
  transition:           transform 0.5s ease 0s;
}

.cv_item.full_showing {
	-webkit-transform:    rotateX(90deg);
	transform:            rotateX(90deg);
	-webkit-transition:   -webkit-transform 0.5s ease 0.1s;
  transition:           transform 0.5s ease 0.1s;
}

.hovering .cv_basic, .hovering .cv_full {
	box-shadow:           4px 4px 20px 0px black;
} 

.transitioning .cv_basic, .transitioning .cv_full {
	box-shadow:           4px 4px 20px 0px black;
}

.button {
	text-align:           center;
	color:                rgba(150,150,150,1.0);
}

@media (min-width: 401px) and (max-width: 600px) {
  body { font-size: 10pt; margin: 0 5%; }
}

@media (max-width: 400px) {
  body { font-size: 8pt; margin: 0 5%; }
}
