
* {
  padding:              0;
  margin:               0;
}

html {
  background:           white;
}

body {
  font:                 13pt "Myriad Pro", Helvetica;
  margin:               50px 10% 0px;
  height:               100%;
  padding:              30px;
}

.cv_item {
  cursor:               pointer;
  position:             relative;
  -webkit-transition:   all 0.2s;
  transition:           all 0.2s;
}

.heading {
  font:                 28pt "Myriad Pro", Helvetica;
  padding:              20px;
}

.heading.active {
  /*background-color:     rgba(245,245,245,1.0);*/
}

.cv_item:hover {
  /*background-color:     rgba(245,245,245,1.0);*/
  box-shadow:           5px 5px 25px -2px black;
  -webkit-transition:   all 1s;
  transition:           all 1s;
}

.subtext {
  font:                 14pt "Myriad Pro", Helvetica;
  overflow:             scroll;
  /*background-color:     rgba(245,245,245,1.0);*/
  -webkit-transition:   height, max-height 0.5s;
  transition:           height, max-height 0.5s;
  max-height:           0px;
  /*margin-bottom:        50px;*/
  /*box-shadow:           5px 5px 25px -2px black;*/
}

.subtext_inner {
  padding-left:         30px;
  padding-right:        30px;
  padding-bottom:       40px;
  padding-top:          10px;
}

.subtext_inner div {
  padding:              5px;
  overflow:             hidden;
}

.detail_description {
  display: inline-block;
  width: 120px;
}

